#pageContainer{
	background: none;
	flex-grow: 1;
	display: flex;
	overflow-x: hidden;
	height: 100%;
}

button:not([tabindex="-1"]):focus, input:not([tabindex="-1"]):focus, select:not([tabindex="-1"]):focus, textarea:not([tabindex="-1"]):focus, a:not([tabindex="-1"]):focus {
	outline: 3px solid var(--page-line);
}

/*Page Basic Styles*/
.page{
	background: none;
    box-sizing: border-box;
	overflow-y: auto;
	width: 100vw;
	height: 100%;
	flex-shrink: 0;
	perspective: 25px;
	padding: 1rem;
}

.justify-evenly {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

h1, h1 > *{
	font-family: 'Nunito', sans-serif;
	font-size: 2.5rem;
	font-weight: 500;
}
h1 {
	margin: .5rem 0 0 0;
}

h3 {
	margin: 0.5rem;
	font-size: larger;
}

.gradient-text {
	display: inline-block;
	/* background: linear-gradient(120deg ,#002aff, #aa00ff); */
	background: linear-gradient(120deg ,#002aff, #009dff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Portal Page Styles */

.headFlex {
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.logoutBtn {
	background-color: rgb(224, 0, 90);
	border: 3px solid var(--page-line);
	padding: 5px 10px;
	border-radius: 5px;
	transition: border .3s;
}

.logoutBtn:hover {
	filter: brightness(.8);
}

.linkLineup{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.linkLineup {
	column-gap: 10px;
	row-gap: 2rem;	
}

.card{
	opacity: 0;
	transform: translateX(-5em);
	background-image: var(--card-backround);
	width: 470px;
	padding: 1em;
	border-radius: 10px 10px 10px 0;
	transition: width .5s calc(80ms*var(--order)), transform .3s;
	animation: fadeIn .5s ease-in-out calc(80ms*var(--order));
	animation-fill-mode: forwards;
}

.card:before {
	position: absolute;
	content: "";
	background-color: var(--page-line);
	height: 3px;
	width: 0;
	bottom: 0;
	left: 0;
	transition: all 0.3s;
}
.card:hover:before {
	width: 100%;
	transform: scaleX(.5);
	z-index: 2;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(-5em);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (max-width: 590px) {
	.card {
		width: 370px;
	}
}

@media screen and (max-width: 300px){
	.headFlex {
		flex-direction: column;
	}
}

/* KanserTeshisi and Form Page Styles */

fieldset {
	--fieldset-border: 4px solid var(--custom-blue);
	margin: 1rem 0;
	border-radius: 5px;
	border: var(--fieldset-border);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(1fr, var(--input-rows-number));
	row-gap: 25px;
}

@media screen and (max-width: 800px){
	fieldset {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 15px;
		align-items: center;
	}
}

legend {
	padding: 4px 7px;
	border: var(--fieldset-border);
	border-radius: 5px;
}

label {
	place-self: center;
}
.span-entire-row {
	align-self: center;
	justify-self: center;
	grid-column: 1 / -1;
}

.form-input {
	place-self: center;
	padding: 5px;
	border: var(--fieldset-border);
	border-radius: 5px;
}

.file-upload, .form-input {
	transition: filter .3s, background-color .2s, color .2s;
}
.file-upload:hover, .form-input:hover, .form-submit:hover {
	filter: brightness(.8);
}

.file-upload, .form-submit {
	border-radius: 5px;
    padding: 6px 12px;
    text-align: center;
	display: block;
    margin: 4px 2px;
	background-color: var(--custom-blue);
}

.file-upload, .form-input {
	width: clamp(200px, 50%, 300px);
}

.form-submit {
	grid-column: 1 / -1;
	align-self: center;
	justify-self: center;
	width: clamp(175px, calc(50% - 25px), 275px);
	transition: filter .3s, background-color .2s, color .05s;
}

.info {
	border-radius: 5px;
	background-color: var(--custom-blue);
	width: fit-content;
	padding: 5px;
}

/* Hastalarim & Doktorlarim Styles */

#add-button {
	transform: rotate(45deg);
	scale: 1.5;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

#add-doctor {
	background-color: rgb(120, 120, 120);
	min-height: 150px;
	padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: grid;
    place-items: center;
	width: clamp(150px, 50%, 400px);
}

#add-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	background: none;
}